.dropdown-button {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    background-color: white;
    /* box-shadow: gray 0px 2px 0px; */
    cursor: pointer;
}

.dropdown-button-toggleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
}

.button-open {
    
}