.topbarcontainer {
  position: relative;
  margin: 0;
}
.topright {
  position: fixed;
  top: .5%;
  right: 8px;
   z-index: 3;


  display: flex;
  align-items: center;
  gap: 10px;


  list-style-type: none;
  margin: 0;
  padding: 0;
 }
 
.topleft {
  position: fixed;
  top: 0%;
  left: 1%;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}