.navbar {
  position: fixed;
  top: 0;
  background: #D9D9D9;
  width: 100%; 
  border-bottom-color: #6B000D;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.nav-button {
  background-color: #D9D9D9;
  border-color: #D9D9D9;
}
.nav-button:hover {
  cursor: pointer; /* Changes cursor to a hand icon */
}