.logo{
    width: 30px;
    height: auto;

}

.logo-section{
    display: flex;
    padding: 5px;

}

nav{
  display: flex;
  margin-bottom: 0px;
  border-bottom: 5px solid rgb(146, 4, 4);
  width: 100%;
  background-color: rgb(218, 218, 218);
}

.hamburger{
    padding-right: 20px;
    background: none;
    border: none;
    color:black;
    
}

.eng{
  width: 140px;
}

.eng1{
  width: 150px;
}


.seggs{
  display:grid;
  padding-left: 10px;
}



body{
  margin: 0;
  margin-top: 0px;
}


.profile-links{
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgb(146, 4, 4);
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  display: flex;
 ;
  
}

.settings{
  width: 25px;
  height: auto;
}

.mail{
  width: 25px;
  height: auto;
}
.profile-pic{
  background: #8f2a2a;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  
}



.news h1{
  margin-left: 10px;
  color:white;
  margin-top: 0px;
}

.news{
  background-color: rgb(85, 83, 83);
  margin-top: 0px;
  border-radius: 5px;
}

.whole-news{
  margin-top: 0px;
  background-color: lightgrey;
  margin-left: 20px;
  margin-right: 20px;
  border-radius:5px;
}

.news-scroll{
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 10px;
  padding: 12px;
}

.news-card{
  min-width: 240px;     
  height: 140px;
  background: white;
  border-radius: 6px;
  position: relative;
  flex-shrink: 0;
}

.news-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 12px;
  width: 100%;
  background: #8b0000;
  border-radius: 0 0 6px 6px;
}

.whole-events{
  background-color: rgb(95, 95, 95);
}

.events{
  background-color: rgb(216, 23, 23);
  margin-top: 0px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}


.search-bar{
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 30px;
  margin-left: auto;
  margin-right: 10px;
}

.events{
  display: flex;
}

.whole-events h1{
  margin-left: 10px;
  font-size: 24px;
  color: white;
}

.registered-event-card{
  min-width: 300px;     
  height: 180px;
  background: rgb(214, 207, 207);
  border-radius: 6px;
  position: relative;
  flex-shrink: 0;
}