*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    
}

.mainPage-container {
    font-size: larger;
    padding: 1rem;
    padding-top: 120px;
}